* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    display: flex;
    background-color: #242527;
}

.lateral {
    display: flex;
    /* border: solid red; */
    background-color: #3a3b3d;
    width: 55px;
    height: 100vh;
    justify-content: flex-start;
    /* align-items: center; */
    flex-direction: column;
    padding-top: 16px;
}
.latfil {
    display: flex;
    margin-block-end: 20px;
    align-items: center;
    justify-content: center;
}

.upbar1 {
    border: solid red;
    background-color: #3a3b3d;
    width: 53%;
    height: 50px;
    justify-content: center;
    flex-direction: row;
    display: flex;
    padding-left: 17%;
}

.upbar2 {
    
    border: solid red;
    background-color: #3a3b3d;
    width: 29%;
    height: 50px;
    justify-content: flex-end;
    flex-direction: row;
}

.telgeral {
    display: flex;
    border: solid rgb(0, 102, 255);
    background-color: #3a3b3d;
    width: 100%;
    height: 60px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
