*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}

 .mae{
   flex-direction: column;
    display: flex;
    border:solid 1px rgb(0, 0, 0);
    height:100vh;
    width: 100vw
    
 }

 .mae .header{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
 }
 .esquerda{

    height: 100px;
    width: 50%;
 }
 .direita{
    height: 100px;
    width: 50%;
    display: flex;
    gap: 10px;
    justify-content: right;
 }

 .lupa{
  border: radius 20px; 
  justify-content: center;
  
 }
 .mae2 {
   height: 40px;
   width: 100%;
   display: flex;
   gap: 10px
   ;
 }

 .mae2 .badge1 {
  background-color: rgb(130, 130, 145);
  display: flex;
  width: 70px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  color: rgb(87, 19, 19);
 }

 .mae3 {
   height: 60px;
   width: 100%;
   display: flex;
   color: rgb(254, 255, 255);
   align-items: center;
   gap: 10px
   
 }
 
 .mae3 .badge {
  background-color: rgb(130, 130, 145);
  display: flex;
  width: 65px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  color: white;
 }

 .mae4 {
  
   height: 250px;
   width: 100%;
   display: flex;
   gap: 10px;
 }

 .mae5 {
  
   height: 250px;
   width: 100%;
   display: flex;
   gap: 10px;
 }

 .mae6 {
 
   height: 250px;
   width: 100%;
   display: flex;
   gap: 10px;
 }
  


  .compra{
    border-radius: 4px;
    background-color: green;
    height: 25px;
    width: 100px ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .lupa input {
    height: 25px;
    width: 200px;
  }

  .all select {
    width: 200px;
    height:25px ;
  }

   .card {
    
    width: 10% ;
    height:100% ;
    display: flex;
    flex-direction: column;
    
   }

   .card img {
     width:100% ;
     height: 80%;
     border-radius: 8px;
     border:solid 1px black;
   }

   .card p {
    font-size: 20px;
    font-weight: bold;
   }

   .card .fonts {
    font-family: "Roboto", sans-serif;
   }